In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException
from time import sleep
from bs4 import BeautifulSoup

In [2]:
import numpy
import pandas
import csv

In [3]:
import crawlOneDay

In [50]:
# 'https://simplize.vn/co-phieu/ACB/lich-su-gia'
# 'https://simplize.vn/co-phieu/VNM/lich-su-gia'
# 'https://simplize.vn/co-phieu/FPT/lich-su-gia'
# 'https://simplize.vn/co-phieu/MBB/lich-su-gia'
# 'https://simplize.vn/co-phieu/CTG/lich-su-gia'
# 'https://simplize.vn/co-phieu/NVL/lich-su-gia
#url = 'https://simplize.vn/co-phieu/NVL/lich-su-gia'
stock = 'MWG'

In [51]:
url = 'https://simplize.vn/co-phieu/' + stock + '/lich-su-gia'

In [52]:
driver = webdriver.Edge(executable_path='msedgedriver.exe')
driver.get(url)

In [53]:
soup = BeautifulSoup(driver.page_source, 'lxml')
#soup

In [54]:
box = soup.find_all('li', {'tabindex': '0'})
box

[<li class="simplize-pagination-item simplize-pagination-item-1 simplize-pagination-item-active" tabindex="0"><a rel="nofollow">1</a></li>,
 <li class="simplize-pagination-item simplize-pagination-item-2" tabindex="0"><a rel="nofollow">2</a></li>,
 <li class="simplize-pagination-item simplize-pagination-item-3" tabindex="0"><a rel="nofollow">3</a></li>,
 <li class="simplize-pagination-item simplize-pagination-item-4" tabindex="0"><a rel="nofollow">4</a></li>,
 <li class="simplize-pagination-item simplize-pagination-item-5 simplize-pagination-item-before-jump-next" tabindex="0"><a rel="nofollow">5</a></li>,
 <li class="simplize-pagination-jump-next simplize-pagination-jump-next-custom-icon" tabindex="0"><div class="css-1elmwxw"><div><h6 class="css-ldnbk6">...</h6></div><div class="css-1hyfx7x"><div><svg fill="none" height="8" stroke="#A7ADB2" viewbox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_11690_28423)"><path d="M1 1L4 4L1 7" stroke-linecap="round"></path><path d="M4 1L7 4L4 7" stroke-linecap="round"></path></g><defs><clippath id="clip0_11690_28423"><rect fill="white" height="8" transform="matrix(-1 0 0 1 8 0)" width="8"></rect></clippath></defs></svg></div></div></div></li>,
 <li class="simplize-pagination-item simplize-pagination-item-81" tabindex="0"><a rel="nofollow">81</a></li>,
 <li aria-disabled="false" class="simplize-pagination-next" tabindex="0"><div class="simplize-pagination-item-link css-11we714"><svg class="css-czff98" fill="none" height="8" stroke="#A7ADB2" viewbox="0 0 6 8" width="6" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1L4.5 4L1.5 7" stroke-linecap="round"></path></svg></div></li>]

In [55]:
# find last page index
box = soup.find_all('li', {'tabindex': '0'})
#box
lastIndex = box[-2].find('a').get_text()
lastIndex = int(lastIndex)
lastIndex

81

i from 1 to lastindex, next page next page and scrape

In [56]:
headers = [
    'date', # ngay thang
    'open', # gia mo cua
    'highest', # gia cao nhat
    'lowest', # gia thap nhat
    'close', # gia dong cua
    'change', # gia thay doi
    'change_percentage', # % gia thay doi
    'volume' # khoi luong giao dich
]

df = pandas.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [date, open, highest, lowest, close, change, change_percentage, volume]
Index: []

In [57]:
index = 1
while True:
    soup = BeautifulSoup(driver.page_source, 'lxml')
    rows = soup.find_all('tr', {'class': 'simplize-table-row simplize-table-row-level-0'})
    for row in rows:
        data = crawlOneDay.crawler(row)
        newRow = pandas.DataFrame(data, index=[0])
        df = pandas.concat([df, newRow], ignore_index=True)
    sleep(1)
    # try:
    #     driver.find_element(By.CLASS_NAME, 'simplize-pagination-next').click()
    # except NoSuchElementException:
    #     break
    
    if index < lastIndex:
        # next page
        driver.find_element(By.CLASS_NAME, 'simplize-pagination-next').click()
    else:
        break
    index += 1

df

,date,open,highest,lowest,close,change,change_percentage,volume
0,22/03/2024,48700.0,49400.0,48000.0,48800.0,300.0,0.62,8477000
1,21/03/2024,48500.0,48950.0,48000.0,48500.0,500.0,1.04,9096600
2,20/03/2024,45600.0,48650.0,45600.0,48000.0,2500.0,5.49,20639900
3,19/03/2024,46000.0,46400.0,45350.0,45500.0,-400.0,-0.87,8063800
4,18/03/2024,47200.0,47950.0,45650.0,45900.0,-1450.0,-3.06,12153200
...,...,...,...,...,...,...,...,...
2425,19/08/2014,7781.0,7942.0,7459.0,7459.0,-322.0,-4.14,39150
2426,18/08/2014,7834.0,7995.0,7727.0,7995.0,161.0,2.05,29910
2427,15/08/2014,7512.0,7566.0,7298.0,7566.0,54.0,0.71,100130
2428,14/08/2014,6654.0,7083.0,6654.0,7083.0,429.0,6.45,149800
2429,13/08/2014,6385.0,6707.0,6278.0,6654.0,268.0,4.20,147010

In [58]:
df

,date,open,highest,lowest,close,change,change_percentage,volume
0,22/03/2024,48700.0,49400.0,48000.0,48800.0,300.0,0.62,8477000
1,21/03/2024,48500.0,48950.0,48000.0,48500.0,500.0,1.04,9096600
2,20/03/2024,45600.0,48650.0,45600.0,48000.0,2500.0,5.49,20639900
3,19/03/2024,46000.0,46400.0,45350.0,45500.0,-400.0,-0.87,8063800
4,18/03/2024,47200.0,47950.0,45650.0,45900.0,-1450.0,-3.06,12153200
...,...,...,...,...,...,...,...,...
2425,19/08/2014,7781.0,7942.0,7459.0,7459.0,-322.0,-4.14,39150
2426,18/08/2014,7834.0,7995.0,7727.0,7995.0,161.0,2.05,29910
2427,15/08/2014,7512.0,7566.0,7298.0,7566.0,54.0,0.71,100130
2428,14/08/2014,6654.0,7083.0,6654.0,7083.0,429.0,6.45,149800
2429,13/08/2014,6385.0,6707.0,6278.0,6654.0,268.0,4.20,147010

get data from page 1st

In [59]:
df.to_csv('myData_' + stock + '_priceHistory_20240321.csv',index=False, header=headers)

In [60]:
driver.quit()